.body{
    background-color: darkslategrey;
}

.board{
    background-color:cadetblue;
    color: wheat;
    width: fit-content;
}

th{
    margin: 1px;
    border: 1px solid wheat;
    background-color: wheat;
    color: cadetblue;
    width: 30px;
    height: 30px;
}

td{
    margin: 1px;
    border: 1px solid wheat;
    font-size: x-large;
    text-align: center;
    width: 30px;
    height: 30px;
}