.board{
    background-color:cadetblue;
    color: wheat;
    width: fit-content;
}

th{
    margin: 1px;
    border: 1px solid wheat;
}

.cell{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.header{
    background-color: wheat;
}