<main class="main">
  <div class="content" [ngClass]="themes[currentThemeIndex]">
    <h1>{{title}}</h1>

    <button (click)="setFigures()">start game</button>
    <button (click)="move()">move</button>
    <button (click)="resetGame()">reset game</button>
    <button id="btnTheme" (click)="switchTheme()">switch theme</button>

    <table class="board" (click)="onClick($event)" (keydown)="onKeydown($event)" tabindex="0">
      <tr>
        <th class="static"></th>
        <th class="static">A</th>
        <th class="static">B</th>
        <th class="static">C</th>
        <th class="static">D</th>
        <th class="static">E</th>
        <th class="static">F</th>
        <th class="static">G</th>
        <th class="static">H</th>
      </tr>
      <tr>
        <th class="static">8</th>
        <td id="A8" [innerHTML]="cellArray[0][7]" class="pointer"></td>
        <td id="B8" [innerHTML]="cellArray[1][7]" class="pointer"></td>
        <td id="C8" [innerHTML]="cellArray[2][7]" class="pointer"></td>
        <td id="D8" [innerHTML]="cellArray[3][7]" class="pointer"></td>
        <td id="E8" [innerHTML]="cellArray[4][7]" class="pointer"></td>
        <td id="F8" [innerHTML]="cellArray[5][7]" class="pointer"></td>
        <td id="G8" [innerHTML]="cellArray[6][7]" class="pointer"></td>
        <td id="H8" [innerHTML]="cellArray[7][7]" class="pointer"></td>
      </tr>
      <tr>
        <th class="static">7</th>
        <td id="A7" [innerHTML]="cellArray[0][6]" class="pointer"></td>
        <td id="B7" [innerHTML]="cellArray[1][6]" class="pointer"></td>
        <td id="C7" [innerHTML]="cellArray[2][6]" class="pointer"></td>
        <td id="D7" [innerHTML]="cellArray[3][6]" class="pointer"></td>
        <td id="E7" [innerHTML]="cellArray[4][6]" class="pointer"></td>
        <td id="F7" [innerHTML]="cellArray[5][6]" class="pointer"></td>
        <td id="G7" [innerHTML]="cellArray[6][6]" class="pointer"></td>
        <td id="H7" [innerHTML]="cellArray[7][6]" class="pointer"></td>
      </tr>
      <tr>
        <th class="static">6</th>
        <td id="A6" [innerHTML]="cellArray[0][5]" class="pointer"></td>
        <td id="B6" [innerHTML]="cellArray[1][5]" class="pointer"></td>
        <td id="C6" [innerHTML]="cellArray[2][5]" class="pointer"></td>
        <td id="D6" [innerHTML]="cellArray[3][5]" class="pointer"></td>
        <td id="E6" [innerHTML]="cellArray[4][5]" class="pointer"></td>
        <td id="F6" [innerHTML]="cellArray[5][5]" class="pointer"></td>
        <td id="G6" [innerHTML]="cellArray[6][5]" class="pointer"></td>
        <td id="H6" [innerHTML]="cellArray[7][5]" class="pointer"></td>
      </tr>
      <tr>
        <th class="static">5</th>
        <td id="A5" [innerHTML]="cellArray[0][4]" class="pointer"></td>
        <td id="B5" [innerHTML]="cellArray[1][4]" class="pointer"></td>
        <td id="C5" [innerHTML]="cellArray[2][4]" class="pointer"></td>
        <td id="D5" [innerHTML]="cellArray[3][4]" class="pointer"></td>
        <td id="E5" [innerHTML]="cellArray[4][4]" class="pointer"></td>
        <td id="F5" [innerHTML]="cellArray[5][4]" class="pointer"></td>
        <td id="G5" [innerHTML]="cellArray[6][4]" class="pointer"></td>
        <td id="H5" [innerHTML]="cellArray[7][4]" class="pointer"></td>
      </tr>
      <tr>
        <th class="static">4</th>
        <td id="A4" [innerHTML]="cellArray[0][3]" class="pointer"></td>
        <td id="B4" [innerHTML]="cellArray[1][3]" class="pointer"></td>
        <td id="C4" [innerHTML]="cellArray[2][3]" class="pointer"></td>
        <td id="D4" [innerHTML]="cellArray[3][3]" class="pointer"></td>
        <td id="E4" [innerHTML]="cellArray[4][3]" class="pointer"></td>
        <td id="F4" [innerHTML]="cellArray[5][3]" class="pointer"></td>
        <td id="G4" [innerHTML]="cellArray[6][3]" class="pointer"></td>
        <td id="H4" [innerHTML]="cellArray[7][3]" class="pointer"></td>
      </tr>
      <tr>
        <th class="static">3</th>
        <td id="A3" [innerHTML]="cellArray[0][2]" class="pointer"></td>
        <td id="B3" [innerHTML]="cellArray[1][2]" class="pointer"></td>
        <td id="C3" [innerHTML]="cellArray[2][2]" class="pointer"></td>
        <td id="D3" [innerHTML]="cellArray[3][2]" class="pointer"></td>
        <td id="E3" [innerHTML]="cellArray[4][2]" class="pointer"></td>
        <td id="F3" [innerHTML]="cellArray[5][2]" class="pointer"></td>
        <td id="G3" [innerHTML]="cellArray[6][2]" class="pointer"></td>
        <td id="H3" [innerHTML]="cellArray[7][2]" class="pointer"></td>
      <tr>
        <th class="static">2</th>
        <td id="A2" [innerHTML]="cellArray[0][1]" class="pointer"></td>
        <td id="B2" [innerHTML]="cellArray[1][1]" class="pointer"></td>
        <td id="C2" [innerHTML]="cellArray[2][1]" class="pointer"></td>
        <td id="D2" [innerHTML]="cellArray[3][1]" class="pointer"></td>
        <td id="E2" [innerHTML]="cellArray[4][1]" class="pointer"></td>
        <td id="F2" [innerHTML]="cellArray[5][1]" class="pointer"></td>
        <td id="G2" [innerHTML]="cellArray[6][1]" class="pointer"></td>
        <td id="H2" [innerHTML]="cellArray[7][1]" class="pointer"></td>
      </tr>
      <tr>
        <th class="static">1</th>
        <td id="A1" [innerHTML]="cellArray[0][0]" class="pointer"></td>
        <td id="B1" [innerHTML]="cellArray[1][0]" class="pointer"></td>
        <td id="C1" [innerHTML]="cellArray[2][0]" class="pointer"></td>
        <td id="D1" [innerHTML]="cellArray[3][0]" class="pointer"></td>
        <td id="E1" [innerHTML]="cellArray[4][0]" class="pointer"></td>
        <td id="F1" [innerHTML]="cellArray[5][0]" class="pointer"></td>
        <td id="G1" [innerHTML]="cellArray[6][0]" class="pointer"></td>
        <td id="H1" [innerHTML]="cellArray[7][0]" class="pointer"></td>
      </tr>
    </table>

  </div>
</main>

<router-outlet />
