<main class="main">
  <div class="content">
    <h1>Hello webChess</h1>
    
    <table class="board">
      <tr>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div>1</div>
        </th>
        <th>
          <div>2</div>
        </th>
        <th>
          <div>3</div>
        </th>
        <th>
          <div>4</div>
        </th>
        <th>
          <div>5</div>
        </th>
        <th>
          <div>6</div>
        </th>
        <th>
          <div>7</div>
        </th>
        <th>
          <div>8</div>
        </th>
      </tr>
      <tr>
        <th>
          <div>A</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>B</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>C</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>D</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>E</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>F</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>G</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
      <tr>
        <th>
          <div>H</div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
        <th>
          <div class="cell"></div>
        </th>
      </tr>
    </table>

  </div>
</main>

<router-outlet />
